body {
    background-color: lavenderblush;
    background-image:url("../multimedia/imagenes/flores-cerezo-transparente.jpg") ;
    background-size:cover;
    background-attachment:fixed;
    display: grid;
    grid-template-areas: 
    "nav nav nav"
    "header main main"
    "header main main"
    "footer footer footer";
}
header {
    grid-area: header;
}
nav {
    grid-area: nav;
}
main {
    grid-area: main;
}
footer {
    grid-area: footer;
}

img.logo {
    width: 200px; height: 150px;
float: left;
}
.links {
    text-decoration:none;
    font-family: 'Advent Pro', sans-serif;
}
    /*carateristicas navegador*/
.links-prime { 
    color: #ebb5b5;
    font-family: 'Advent Pro', sans-serif;
}
.links-sec { 
        color: #ebb5b5;
    }
h1 {
    color: #ee7c7c;
    font-family: 'Archivo Black', sans-serif;
    font-size: 5.5em;
}
.subtitulo {
    color: #ee7c7c;
    font-family: 'Advent Pro Medium' , sans-serif;

}
.definicion {
    color:rgb(255, 255, 255);
    font-family: 'Advent Pro Light', sans-serif;
}
.footer {
    text-align: center;
    font-family: 'Advent Pro Light', sans-serif;
}
/* animaciones nav */
.links:hover {
    animation-duration: 1s;
    animation-name: aparecer;
    animation-iteration-count: initial;
 }
 @keyframes aparecer {
    0% {
      opacity: 0;
    }
    25% {
        opacity: .25;
    }
    50% {
        opacity: .5;
    }
    75% {
        opacity: .75;
    }
    100% {
      opacity: 1;
    }
}

/* animaciones */
h1 {
    animation-name: aparecer;
    animation-iteration-count: 1;
    animation-timing-function: ease-in-out;
    animation-duration: 2s;
    animation-delay: .3s;
}
    @keyframes aparecer {
        0% {
          opacity: 0;
        }
        25% {
            opacity: .25;
        }
        50% {
            opacity: .5;
        }
        75% {
            opacity: .75;
        }
        100% {
          opacity: 1;
        }
}
/* config. carrusel */
.carrusel {
    display: grid;
    justify-content: center;
    justify-items: center;
}
.carousel-inner img {
    width: 100%;
    max-height: 600px;
}

.carousel-inner{
 height: 600px;
}
/* botones ayuda.html */
.btn {
    margin: 50px;
    padding: 15px;
    font-size: 1.3em;
    font-family: 'Advent Pro', sans-serif;
}
button {
    background-color: #ee7c7c;
    color: #ee7c7c;
}
/* ========= */
.modal-title {
    color: #ee7c7c;
    font-family: 'Archivo Black', sans-serif;
}
.col-form-label{
    color: #ee7c7c;
    font-family: 'Archivo Black', sans-serif;
}
.modal-body {
    color: #ee7c7c;
    font-family: 'Archivo Black', sans-serif;
}

/* media queries */

@media screen and (max-width:768px) {
    body {
        display: grid;
        grid-template-areas: 
        "nav nav nav"
        "header header header"
        "main main main"
        "footer footer footer";
    }
    header {
        grid-area: header;
    }
    nav {
        grid-area: nav;
    }
    main {
        grid-area: main;
    }
    footer {
        grid-area: footer;
    }
    ul li {
        justify-items: right;
        justify-content: right;
        align-items: right;
    }
    h1 {
        font-size: 3em;
    }
    h2 {
        font-size: 2em;
    }
    h3 {
        font-size: 1em;
    }
    .carrusel {
        display: grid;
        justify-content: center;
        justify-items: center;
    }
    .carousel-inner img {
        width: 100%;
        max-height: 300px;
    }
    
    .carousel-inner{
     height: 300px;
    }
}
