body {
    background-color: lavenderblush;
    background-image:url("../multimedia/imagenes/flores-cerezo-transparente.jpg") ;
    background-size:cover;
    background-attachment:fixed;
    display: grid;
    grid-template-areas: 
    "nav nav nav nav"
    "header header header"
    "main main main"
    "footer footer footer"
}
nav {
    grid-area: nav;
}
header {
    display: flex;
    grid-area: header;
    align-content: baseline;
}
main { 
    grid-area: main;
}
footer { 
    grid-area: footer;
    margin-top: 2000px;
}
.desc {
    margin-left: 40px;
    margin-top: 250px;
}
.descripcion {
    font-size: 1.2em;
}
/*lista index*/
ul li {
    list-style-type: none;
    display: flex;
    justify-items: center;
    justify-content: space-between;
}
   /*flexbox*/
    .navegador div {
        font-size: 1.3em;
        /* background-color: #e9cbcb; */
        background-size: auto;
        padding: 10px;
        display: flex;
        flex-direction: row;
        flex-wrap: wrap-reverse;
        flex-flow: row wrap;
        justify-content: space-evenly;
        align-items:center;
        /* border: solid #e9cbcb; */
        margin-bottom: 60px;
        
}
    .navegador-1{
        width: 100;
        padding: 5px;
        margin: 5px;
        background-size: auto;
    }
    /* ul li {text-align: right;} */
    img.logo {
         width: 200px; height: 150px;
    float: left;
}
    .links {
    text-decoration:none;
    font-family: 'Advent Pro', sans-serif;
}
    /*carateristicas navegador*/
.links-prime { 
    color: #ebb5b5;
    font-family: 'Advent Pro', sans-serif;
}
    .links-sec { 
        color: #ebb5b5;
    }
    /*encabezado*/
div.about-us {
     /* background-color: ivory; */
    color: rgb(240, 98, 122);
    font-family:'Archivo Black', sans-serif;
    font-family: 'Advent Pro', sans-serif;
    text-align: left;
    margin-top: 300px;
    /* margin: 250px;*/
    right: -350px; 
}
    h1 {
    display: flex;
    color: #ee7c7c;
    text-align: left;
    font-size: 5.5em;
    font-family: 'Archivo Black', sans-serif;
    margin-top: 300px;
    /* margin: 25px 10px 5px 10px;*/
    right: -350; 
}
    .subtitulo {
    color: #ee7c7c;
    font-family: 'Advent Pro Medium' , sans-serif;
    text-align: left;
    font-size: 3em;

}
    .definicion {
        color:rgb(255, 255, 255);
    font-family: 'Advent Pro Light', sans-serif;
    text-align: left;
}
    /* div.intro {
        background-color:mintcream;
    } */
    footer {
        text-align: center;
        font-family: 'Advent Pro Light', sans-serif;
    }
 
    .descripcion {
     color: mintcream;
    font-family: 'Advent Pro Regular', sans-serif;
}
/* Galeria de imagenes*/
img.producto {
    max-width: 100%;
    width: 300px;
    height: 300px;
}
img.producto1 {
    max-width: 100%;
    width: 300px;
    height: 250px;
}
.galeria {
    margin-top: 500px;
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    gap: 10px;
    /* margin: 5px; */
    padding: 250px;
}
.foto {
    display: flex;
    justify-content: center;
    align-items: center;
}
 

    .foto:hover {
        transform: scale(1.5,1.5);
    }
    .links:hover {
        animation-duration: 1s;
        animation-name: aparecer;
        animation-iteration-count: initial;
     }
     
     
     @keyframes aparecer {
        0% {
          opacity: 0;
        }
        50% {
            opacity: .5;
        }
        100% {
          opacity: 1;
        }
     }
     .about-us {
        animation-name: aparecer;
        animation-iteration-count: 1;
        animation-timing-function: ease-in-out;
        animation-duration: 2s;
        animation-delay: .3s;
    }
    @keyframes aparecer {
        0% {
          opacity: 0;
        }
        25% {
            opacity: .25;
        }
        50% {
            opacity: .5;
        }
        75% {
            opacity: .75;
        }
        100% {
          opacity: 1;
        }
     }
     .productos {
         margin-top: 100px;
         margin: 150px;
         padding: 100px;
     }